
.cards{
    background-color: #c94d7898;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
    border-radius: 10px;
    display: inline-block;
    align-content: center;
    margin:20px;
    border: black 5px solid;

}
 
      .cards:hover{
        background: #000000; 
        background: linear-gradient(220.55deg, #DD7BFF 0%, #FF6C6C 100%);
        }

    .button{
        background: rgb(235, 234, 234);
        border: none;
        margin-top: 10px;
        margin-right: 15px;
        margin-bottom: 30px;
        position: relative;
        float: right;
    }
    .button:hover{
        background: rgb(255, 0, 0);
        background: linear-gradient(220.55deg, #FF0000 0%, #470000 100%);
        color: white;
        border-radius: 10px;
        }

    .info{
        display: flex;
        flex-direction: column-reverse;
    }

    .tittle{
        text-align: center;
        margin-left: 20px;
        background-color: white;
        border-radius: 30% 70% 39% 61% / 30% 30% 70% 70% ;
    }

    .infoExtra{
        color: rgba(245, 245, 245, 0.879);
        display: flex;
        justify-content: space-evenly;
        
    }







 




