
body {
  background: url(https://i.pinimg.com/originals/61/de/2b/61de2ba956418acd9ab454ceca15bbb2.jpg);
background-size: cover;
background-position: center;
  background-repeat: no-repeat;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;

}



.App { 
   text-align: center;

   
}